.active:before,
.active:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  right: 0;
  bottom: 0;
  background: white;
}
.active:before {
  width: 100%;
  height: 2px;
}
.active:after {
  width: 2px;
  height: 100%;
}
